@model OMSIFYP.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Login/_LayoutLogin.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="login-form-header">
        <div class="logo">
            <a href="#" title="Admin Template"><img src="~/images/mylogo.png" alt="logo"></a>
        </div>
    </div>
    <h4>Login To Continue</h4>
    <div class="form-horizontal">
        
        <hr />
        <p style="color:red">@ViewBag.loginMessage</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          <div class="col-md-10">
               <input name="email" class="form-control" placeholder="Email" required/>
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-10">
               <input type="password" name="password" class="form-control" placeholder="Password" required/>
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control" } })
                <select name="role" id="role" class="form-control" required>
                    <option>--Role--</option>
                    <option value="Student">Student</option>
                    <option value="Instructor">Instructor</option>
                </select>
               
                @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="login-form-footer">
            <button type="submit" class="btn-block btn btn-primary">Sign in</button>
        </div>
    </div>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

